<h3>Will be submitted as below</h3>
<%= form_with(model: @blog, url: blogs_path, local:true) do |form|%>
  <%= form.hidden_field :title%>
  <%= form.hidden_field :content%>
  <p>title: <%= @blog.title%></p>
  <p>title: <%= @blog.content%></p>  
  <%= form.submit "register"%>
<% end %>