<style>
</style>
<%= notice %>
<h1 id="index_title">Blog List Display</h1>
  <table id="list_disp">
    <tr>
      <th>title</th>
      <th>content</th>
      <th>more detail</th>
      <th>edit</th>
      <th>delete</th>
    </tr>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to '■', blog_path(blog.id) %></td>
        <td><%= link_to '■', edit_blog_path(blog.id) %></td>
        <td><%= link_to '■', blog_path(blog.id), method: :delete,
                data:{ confirm: 'are you sure to delete this blog?' } %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <%= link_to '=> new entry',new_blog_path  %>